youtube-dl
telepotpro
youtube-search-python
python-dotenv
pyrogram
tgcrypto
aiofiles
motor
dnspython
requests
ytthumb
youtube_search
requests
youtube_dl
aiohttp
Pyrogram
Tgcrypto
asyncio